{% extends "base/base.html" %}
{% block title_name %}
Feria del Libro Itagüí
{% endblock title_name %}
{% block container %}
{% load static %}
<section class="hero-banner hero-banner--sm">
  <div class="hero-banner__content text-center">
    <h1>Noticias</h1>
    <nav aria-label="breadcrumb" class="banner-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'fair:index'%}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
      </ol>
    </nav>
  </div>
</section>
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid" src="{{notice.photo.all.0.photo.url}}" alt="">
            </div>
          </div>
          <div class="col-lg-3  col-md-3">
            <div class="blog_info text-right">

              <ul class="blog_meta list">
                <li>
                  <a href="#">{{notice.author}}
                    <i class="lnr lnr-user"></i>
                  </a>
                </li>
                <li>
                  <a href="#">{{notice.created|date:"M d, Y"}}
                    <i class="lnr lnr-calendar-full"></i>
                  </a>
                </li>
                <li>
                  <a href="#">1.2M Views
                    <i class="lnr lnr-eye"></i>
                  </a>
                </li>

              </ul>

            </div>
          </div>
          <div class="col-lg-9 col-md-9 blog_details">
            <h2>{{notice.title}}</h2>
            <p class="excert">
              {{notice.lead}}
            </p>

          </div>
          <div class="col-lg-12">
            <div class="quotes">

            </div>
            <div class="row">
              {% if notice.photo.all|length > 1 %}
              {% for image in notice.photo.all|slice:":2" %}

              <div class="col-6">
                <img class="img-fluid" src="{{image.photo.url}}" alt="">
              </div>
              {% endfor %}

              {% endif %}
              <div class="col-lg-12 mt-4">
                <p>
                  {{notice.text|linebreaks}}
                </p>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Otras Noticias</h3>
            {% for new in  notices|slice:":4"%}
            <div class="media post_item">
              <img src="{{new.photo.all.0.photo.url}}" alt="post" height="60px" width="100px">
              <div class="media-body">
                <a href="{%url 'fair:notice' new.pk%}">
                  <h3>{{new.title}}</h3>
                </a>
                <p>{{new.created|date:"M d, Y"}}</p>
              </div>
            </div>
            {% endfor %}

           
          </aside>
         


        </div>
      </div>
      
    </div>
    <div class="navigation-area">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                <div class="thumb">
                    <a href="{%url 'fair:notice' notices.0.pk%}">
                        <img class="img-fluid" src="{{notices.0.photo.all.0.photo.url}}" height="60px" width="60px">
                    </a>
                </div>
                <div class="arrow">
                    <a href="{%url 'fair:notice' notices.0.pk%}">
                        <span class="lnr text-white lnr-arrow-left"></span>
                    </a>
                </div>
                <div class="detials">
                    <p>Anterior Noticia</p>
                    <a href="{%url 'fair:notice' notices.0.pk%}">
                        <h4>{{notices.0.title}}</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                <div class="detials">
                    <p>Siguiente Noticia</p>
                    <a href="{%url 'fair:notice' notices.1.pk%}">
                        <h4>{{notices.1.title}}</h4>
                    </a>
                </div>
                <div class="arrow">
                    <a href="{%url 'fair:notice' notices.1.pk%}">
                        <span class="lnr text-white lnr-arrow-right"></span>
                    </a>
                </div>
                <div class="thumb">
                    <a href="{%url 'fair:notice' notices.1.pk%}">
                        <img class="img-fluid" src="{{notices.1.photo.all.0.photo.url}}" height="60px" width="60px">
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</section>
<!--================
{% endblock%}